body {
    background-color: #F8EDE3;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    color: #bb9880;
}

hr {
    border-style: dotted none none none;
    border-width: 7px;
    border-color: #DFD3C3;
    width: 5%;
}

h1, h2, h3, strong, th {
    color: #85586F;
}

h3 {
    margin: 10px;
}

ol, ul, li {
    line-height: 25px;
}

li p {
    margin: 2px;
}

.star {
    color: #85586F;
}

.italic {
    font-style: italic;
}

